* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    background: rgb(37,37,37);
    background: radial-gradient(circle, rgba(50,50,50,1) 0%, rgba(0,0,0,1) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.ls-container {
    display: flex;
    width: 675px;
}

.ls-grip {
    width: 150px;
    height: 26px;
    display: flex;
}

.ls-grip .grip-01 {
    width: 8%;
    border-radius: 3px;
    background: rgb(100,100,100);
    background: linear-gradient(180deg, rgba(100,100,100,1) 0%, rgba(186,186,186,1) 50%, rgba(100,100,100,1) 100%);
}

.ls-grip .grip-02 {
    width: 32%;
    height: 20px;
    margin: 3px 0;
    background: rgb(100,100,100);
    background: linear-gradient(180deg, rgba(100,100,100,1) 0%, rgba(186,186,186,1) 50%, rgba(100,100,100,1) 100%);
}

.ls-grip .grip-button {
    width: 6%;
    height: 20px;
    margin: 3px 0;
    cursor: pointer;
}

.button-off {
    background: rgb(30,30,30);
    background: linear-gradient(180deg, rgba(30,30,30,1) 0%, rgba(70,70,70,1) 50%, rgba(30,30,30,1) 100%);
}

.button-on {
    background: rgb(30,30,30);
    background: linear-gradient(180deg, rgba(10,10,10,1) 25%, rgba(220,220,220,1) 50%, rgba(30,30,30,1) 75%);
}

.ls-grip .grip-03 {
    width: 32%;
    height: 20px;
    margin: 3px 0;
    background: rgb(40,40,40);
    background: linear-gradient(180deg, rgba(40,40,40,1) 0%, rgba(100,100,100,1) 50%, rgba(40,40,40,1) 100%);
}

.ls-grip .grip-04 {
    width: 14%;
    height: 14px;
    margin: 6px 0;
    background: rgb(20,20,20);
    background: linear-gradient(180deg, rgba(20,20,20,1) 0%, rgba(70,70,70,1) 50%, rgba(20,20,20,1) 100%);
}

.ls-grip .grip-05 {
    width: 8%;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    background: rgb(100,100,100);
    background: linear-gradient(270deg, rgba(186,186,186,1) 0%, rgba(70,70,70,1) 100%);
}

.ls-blade {
    height: 14px;
    margin: 6px 0;
    background-color: white;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.open {
    animation: bladein .7s 1 ease-in-out;
    width: 525px;
    box-shadow: 0 0 26px 5px rgba(10, 199, 3, 1);
}

.close {
    animation: bladeout .7s 1 ease-in-out;
    width: 0px;
    box-shadow: 0 0 26px 5px rgba(10, 199, 3, 0);
}

@keyframes bladein {
    0% {
      width: 0px;
      box-shadow: 0 0 26px 5px rgba(10, 199, 3, 0);
    }

    33% {
        box-shadow: 0 0 26px 5px rgba(10, 199, 3, 1);
    }
  
    100% {
      width: 525px;
      box-shadow: 0 0 26px 5px rgba(10, 199, 3, 1);
    }
}

@keyframes bladeout {
    0% {
      width: 525px;
      box-shadow: 0 0 26px 5px rgba(10, 199, 3, 1);
    }

    66% {
        box-shadow: 0 0 26px 5px rgba(10, 199, 3, 0);
    }
  
    100% {
      width: 0px;
      box-shadow: 0 0 26px 5px rgba(10, 199, 3, 0);
    }
}